@CHARSET "UTF-8";
/* 【for Bulma】表示スタイルはすべて削除し、必要なスタイルのみ定義. */

body {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 3.25rem);
}

.errorMessages {
	color: red;
	padding-bottom: 10px;
}

/*
	スクロールTable
	※Bulmaではtableタグの親のDivタグにtable-containerクラスを指定することで対応可能だが
	開発ツール等には手を加えないため本定義を残す。
*/
.hScrollDiv {
	display: block;
	width: 100%;
	overflow-x:auto;
}

/* 【for Bulma】bulma-calendar向け */
.datetimepicker-dummy-wrapper {
	box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
	background-color: #fff;
	border-color: #dbdbdb !important;
	border-radius: 4px;
	color: #363636;
}

/* ページロックDIVのスタイル */
#lockLayer {
	background: url(./image/loading.gif) center no-repeat;
	background-color: black;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 10000;
}

